<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add New Book</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Add New Book</h1>
    <form th:action="@{/books/add}" th:object="${book}" method="post">
        <label>Title:</label>
        <input type="text" th:field="*{title}" required><br>
        <label>Author:</label>
        <input type="text" th:field="*{author}" required><br>
        <button type="submit">Add Book</button>
    </form>
<a href="/books" class="btn-link">Back to Library</a>

</body>
</html>
