<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Book</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Edit Book</h1>
    <form th:action="@{'/books/edit/' + ${book.id}}" th:object="${book}" method="post">
        <label>Title:</label>
        <input type="text" th:field="*{title}" required><br>
        <label>Author:</label>
        <input type="text" th:field="*{author}" required><br>
        <button type="submit">Update Book</button>
    </form>
<a href="/books" class="btn-link">Back to Library</a>

</body>
</html>
